body {
  background-color: #ffffff;
  font-family: "SF UI Display Thin";
}
.top-logo {
  height: 3em;
}
.top-signup-btn {
  border-radius: 0px;
  height: 3em;
  background-color: #005979;
  color: #ffffff;
}
.top-signup-btn:hover {
  border-radius: 0px;
  height: 3em;
  background-color: #005979;
  color: #ffffff;
}
.top-change-lang-btn {
  border-radius: 0px;
  height: 3em;
  background-color: #ffffff;
  color: #005979;
}
.top-tugende-label {
  background-color: #005979;
  padding-bottom: 5em;
  padding-top: 5em;
}
.tugende-label-image {
  height: 3em;
}
.nav-shadow {
  padding-left: 0;
  padding-right: 0;
  box-shadow: 0px 1px 5px grey;
}
.top-nav-bar {
  width: 10em;
}
.top-nav-bg {
  background: #ffffff;
}
.top-position-sticky {
  z-index: 1;
  padding-left: 0;
  padding-right: 0;
  background: #ffffff;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.filter-schedules-top {
  background: url("../../images/volvobus.png") no-repeat center;
  background-size: contain;
  box-shadow: inset 0 0 0 1000px rgba(0, 89, 121, 0.74);
  padding-top: 10em;
  padding-bottom: 10em;
}
.top-form-padding {
  padding: 0;
}
.top-form-text-holder {
  border-radius: 0;
  width: 4.5em;
  color: #005979;
  background: #ffffff;
}
.top-from-input {
  border-radius: 0;
}
.form-submit-btn {
  background-color: #00a7ff;
  color: #ffffff;
  font-family: "SF UI Display Bold";
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.platform-header-bg {
  background: #f0f0f0;
}
.platform-header-bg > h4,
.companies-text-label > h4 {
  font-family: "SF UI Display Bold";
  font-size: 30px;
  color: #005979;
}
.platform-header-bg > p,
.companies-text-label > p {
  color: #939393;
  font-size: 18px;
}
.platform-image {
  padding: 0;
}
.most-popular-bus {
  background: #f0f0f0;
}
.companies-text-label {
  margin-top: 3em;
  margin-bottom: 2em;
}

.bus-companies-logo {
  padding-left: 10em;
  padding-right: 10em;
  margin-bottom: 5em;
}
.platform-header-bg-footer {
  background: #f0f0f0;
  padding-left: 10em;
  padding-right: 10em;
  font-family: "SF UI Display Light";
  color: #005979;
}
@media only screen and (max-width: 800px) {
  .platform-header-bg-footer {
    background: #f0f0f0;
    padding-left: 3em;
    padding-right: 3em;
  }
  .bus-companies-logo {
    padding-left: 5em;
    padding-right: 5em;
    margin-bottom: 5em;
  }
  .bus-companies-logo > img {
    margin-bottom: 2em;
  }
}
.label-visit > div > label {
  color: #939393;
}
.contact-us-info > p {
  margin: 0;
}
.contacts-info {
  font-family: "SF UI Display Semibold";
}
.contact-us-form {
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #005979;

  background: #f0f0f0;
}
.contact-us-form::-webkit-input-placeholder {
  color: #005979;
}
.contact-us-btn {
  height: 3em;
  background: #005979;
  color: #f0f0f0;
  font-family: "SF UI Display Semibold";
  background-color: #f0f0f7;
  font-family: "Open Sans", sans-serif;
}
.home-body {
  background-color: #000000;
}
.home-nav {
  background-color: #000000;
}
.home-nav > .collapse > .navbar-nav > .nav-item > .nav-link {
  color: #0085f3;
}
.card-home {
  background-color: #000a19;
  color: #e4e4e4;
}
.fit-screen {
  height: 100%;
}
.login-logo {
  background-color: #001129;
}
.login-caption {
  color: #4d4f5c;
  opacity: 0.5;
}
.login-border {
  border: none;
  border-bottom: 1px solid #e9e9f0;
  border-radius: 0px;
}
::placeholder {
  color: #43425d;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #43425d;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #43425d;
}
.login-submit {
  background-color: #000e27;
  color: #ffffff;
}
.login-signup {
  background-color: #ffffff;
  border: 1px solid #000e27;
  color: #000e27;
}
.sidebar {
  position: fixed;
  z-index: 1019;
  width: 200px;
}
.main {
  flex: 1;
  min-width: 0;
  margin-left: 200px;
}
.list-group-item:focus,
.list-group-item:hover {
  border-left: 2px solid #008cff;
  background-color: #001f4b;
  color: #ffffff;
}
.list-group-item:first-child {
  border-radius: 0px;
}
.list-group-item:last-child {
  border-radius: 0px;
}
.list-group-item.active {
  border: none;
  border-left: 2px solid #008cff;
  background-color: #001f4b;
}
.list-group-item {
  background-color: #001129;
  color: #ffffff;
}
.chart {
  width: 100%;
}
.navbar-search {
  background-color: #f8f9fa;
  border: none;
}
.navbar-search:focus {
  background-color: #f8f9fa;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #caced5;
  box-shadow: none;
}
.card-shadowbox {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  border: none;
}
.stats-btn {
  background-color: #ffffff;
  color: #4d4f5c;
  border: 1px solid #d7dae2;
}
.station-search {
  border: none;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 4px 8px 0 rgba(0, 0, 0, 0.02);
}
.station-search:focus {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 4px 8px 0 rgba(0, 0, 0, 0.02);
}
.card-schedules {
  border-radius: 0px;
}
.card > .list-group:first-child .list-group-item:first-child {
  border-radius: 0px;
}
.card > .list-group:first-child .list-group-item:last-child {
  border-radius: 0px;
}
.card-schedules > .list-schedules > .list-group-item {
  background-color: #ffffff;
  color: #4d4f5c;
}
.card-schedules > .list-schedules > .active {
  background-color: #008cff;
  border-left: 2px solid #000f24;
  color: #ffffff;
}
.text-arrow-middle {
  color: #3cc480;
}
.number-arrow-middle {
  color: #4d4f5c;
}

/* the available bus page CSS */
.available-busop-table,
.available-busop-table-p,
.card-trip-info > .card-body > p {
  color: #005979;
  font-family: "SF UI Display Light";
}
.available-busop-table > thead > tr > th {
  background-color: #b9b9b9;
  font-family: "SF UI Display Medium";
}
.available-busop-image-label > div > label {
  color: #868686;
  font-family: "SF UI Display Light";
}

/* Seats bus page CSS */
.card-traveler-info > .card-header,
.card-trip-info > .card-header {
  background-color: #ffffff;
  color: #575756;
  font-family: "SF UI Display Light";
}
.card-trip-info > .card-body > p {
  margin-bottom: 0;
}
.card-trip-info > .card-body > p > label {
  color: #707070;
  font-family: "SF UI Display Light";
}
.card-traveler-info > .card-body > form > p,
.card-traveler-info
  > .card-body
  > form
  > .row
  > .col-md-6
  > input
  ::-webkit-input-placeholder {
  font-family: "SF UI Display Light";
  color: #c1c1c1;
}
.card-traveler-info > .card-body > form > button {
  background-color: #ffba00;
  color: #ffffff;
  font-family: "SF UI Display Light";
}
.seats-visit > div > label {
  font-family: "SF UI Display Light";
  font-size: 0.8em;
  color: #868686;
}

/* travelerINfo page CSS */
.form-traveler-name,
.form-traveler-name > div > div > input::-webkit-input-placeholder {
  color: #c1c1c1;
  font-family: "SF UI Display Light";
}
.form-traveler-name > .form-group > div > input,
.form-traveler-name > .form-group > div > input::-webkit-input-placeholder {
  font-family: "SF UI Display Light";
  color: #005979;
}
.form-traveler-name > .form-group > div > div > a {
  background-color: #005979;
  color: #ffffff;
}
/* payment page CSS */
.card-payment > p {
  color: #c1c1c1;
  font-family: "SF UI Display Light";
}
/* ticket page CSS */
.ticket-bg-1 {
  background: #eaeaea;
  border-right: 0.1em dashed #ffffff;
}
.tugende-below-code {
  height: 2em;
  padding: 0;
  margin: 0.5em;
  font-family: "SF UI Display light";
  background: #ffffff;
  color: #005979;
}
.ticket-bg-2 {
  background: #eaeaea;
}
.ticket-bg-2 > div > p {
  margin-bottom: 0;
}
.bus-op-ticket {
  font-family: "SF UI Display medium";
  color: #005979;
  margin-bottom: 0;
}
.ticket-user {
  font-family: "SF UI Display Light";
  color: #000000;
  border-top: 0.15em solid #ffffff;
  border-bottom: 0.1em solid #ffffff;
}
.ticket-details,
.ticket-payed-time {
  color: #9d9d9d;
}
.ticket-payed-time {
  border-bottom: 0.1em solid #ffffff;
}
.ticket-location-time {
  font-family: "SF UI Display Light";
  color: #707070;
}
.ticket-code,
.code-enc-tugende {
  font-family: "SF UI Display medium";
  color: #005979;
}
/* Account mangement page CSS */
.header-account-system {
  box-shadow: 0px 1px 5px grey;
  height: 5em;
  display: flex;
  flex-wrap: wrap;
}
.holder-account-management {
  border: 1px solid #dbe2e8;
  padding: 0;
  font-family: "SF UI Display medium";
}
.border-tab-header {
  padding-left: 0;
  padding-right: 0;
}
.border-tab-header .nav-link {
  border-radius: 0px;
  color: #9d9d9d;
  background: #f0f0f0;
  border-top: none;
  padding-top: 1em;
  padding-bottom: 1em;
}
.form-sign-in {
  font-family: "SF UI Display Light";
  color: #707070;
}
.form-title-tugende {
  color: #000000;
  font-family: "SF UI Display Thin";
}
.account-sign-btn {
  background: #005979;
  color: #ffffff;
  font-family: "SF UI Display medium";
}
